<a href="https://colab.research.google.com/github/nehalbaid10/program1/blob/master/Program3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [14]:
 
"""Trying different functions on list"""
 
mylist = [1,"apple",2,"orange",3]
print(mylist)
mylist.append("banana")
print(mylist)
mylist.insert(0,"berry")
print(mylist)
mylist2 = [2,1,5,6,8]
mylist2.sort()
print(mylist2)
print (mylist[2:])
l = input(print("enter elements separated by space"))
mylist3 = l.split()
print(mylist3)

[1, 'apple', 2, 'orange', 3]
[1, 'apple', 2, 'orange', 3, 'banana']
['berry', 1, 'apple', 2, 'orange', 3, 'banana']
[1, 2, 5, 6, 8]
['apple', 2, 'orange', 3, 'banana']
enter elements separated by space
1 2 nehal baid 3 4 python
['1', '2', 'nehal', 'baid', '3', '4', 'python']

In [17]:
""" accessing elements from tuples """
mytup = ("c","java",1,2,3)
print(mytup)
print(len(mytup))
print(mytup[1])

('c', 'java', 1, 2, 3)
5
java

In [27]:
""" different functions using dictionaries """
mydict = {"humour" : "funny","detective":"mystery","vexed":"anger"}
print(mydict)
print(len(mydict))
print(mydict["humour"])
del mydict["detective"]
print(mydict)
del (mydict)

{'humour': 'funny', 'detective': 'mystery', 'vexed': 'anger'}
3
funny
{'humour': 'funny', 'vexed': 'anger'}